@model DACN_TBDD_TGDD.Models.ProductModel

@{
    ViewData["Title"] = "Create Product";
}

<h4>Create Product</h4>
<form asp-action="Import" method="post" enctype="multipart/form-data" asp-controller="Product">
    <div class="form-group">
        <label for="fileUpload" class="control-label">Upload Excel File</label>
        <input type="file" name="fileUpload" class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" value="Import" class="btn btn-primary" />
    </div>
</form>

<form asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Name" class="control-label">Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price" class="control-label">Price</label>
        <input asp-for="Price" type="number" step="0.01" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label">Description</label>
        <textarea asp-for="Description" class="form-control" id="Description"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CategoryId" class="control-label">Category</label>
        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories">
            <option value="">--Choose a category--</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BrandId" class="control-label">Brand</label>
        <select asp-for="BrandId" class="form-control" asp-items="ViewBag.Brands">
            <option value="">--Choose a brand--</option>
        </select>
        <span asp-validation-for="BrandId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ImageUpload" class="control-label">Image</label>
        <input asp-for="ImageUpload" type="file" class="form-control" id="ImageUpload" />
        <span asp-validation-for="ImageUpload" class="text-danger"></span>
        <img id="imgPreview" class="pt-2" width="200" height="200" />
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<a asp-action="Index">Back to list Products</a>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="https://cdn.ckeditor.com/4.23.0-lts/standard/ckeditor.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            CKEDITOR.replace('Description');
        });

        document.getElementById('ImageUpload').addEventListener('change', function () {
            readURL(this);
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                let reader = new FileReader();

                reader.onload = function (e) {
                    document.getElementById('imgPreview').src = e.target.result;
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}
