@{
    ViewBag.Title = "FailureView";
}

<h1>Thanh toán thất bại!</h1>
<p>Rất tiếc, đã xảy ra sự cố khi xử lý thanh toán của bạn. Vui lòng thử lại hoặc liên hệ với chúng tôi để được hỗ trợ.</p>

<a href="@Url.Action("Index", "Cart")" class="btn btn-primary">Quay lại giỏ hàng</a>
