<div class="left-sidebar">
	<h2>Category</h2>
	<div class="panel-group category-products" id="accordian">
		<!--category-productsr-->
		
		<!--hien thi component-->
		<vc:categories></vc:categories>
		
	</div><!--/category-products-->

	<div class="brands_products">
		<!--brands_products-->
		<h2>Brands</h2>
		<vc:brands></vc:brands>
	</div><!--/brands_products-->

	

</div>