@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<section id="forgot-password-confirmation">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="confirmation-message">
                    <h2 class="text-center">Password Reset Email Sent</h2>
                    <p class="text-center">We have sent a new password to your email address. Please check your email.</p>
                    <div class="text-center">
                        <a asp-action="Login" asp-controller="Account" class="btn btn-primary">Return to Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
