@model ForgotPasswordViewModel
<head>
    <!-- SweetAlert2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
</head>
<body>
    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
</body>
<section id="forgot-password-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="forgot-password-form">
                    <h2 class="text-center mb-4">Forgot Your Password?</h2>
                    <form asp-action="ForgotPassword" asp-controller="Account" method="post">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label asp-for="Email" class="form-label">Email</label>
                            <input asp-for="Email" class="form-control" placeholder="Enter your email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Send Password Reset Link</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function () {
        @if (TempData["errolSearchEmail"] != null)
        {
            <text>
                    Swal.fire({
                        title: 'Error!',
                        text: '@TempData["errolSearchEmail"]',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
            </text>
        }
                });
    </script>
}
